html {
    font-size: 14px;
}


body {
    background-color: #E1CEB4;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin-bottom: 60px;
}


.navbar-nav {
    background-color: #402925;
    color: white;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

h1.welcome {
    text-align: center;
    font-size: 300%;
    animation: mymove 2s infinite;
}

h2.title {
    text-align: center;
    font-size: 200%;
    animation: mymove 2s infinite;
}

.aerial-view-container {
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.aerial-view-media {
    object-fit: contain;
    max-width: 100%;
    max-height: 500px; /* Adjust based on your layout */
    width: auto;
    height: auto;
}


@keyframes mymove {
    from {
        left: 0px;
    }

    to {
        left: 200px;
    }
}
